@use "sass:color";
@import "../../../styles/colors";

.button {
  cursor: pointer;
  color: #fff;
  background: $mainColor1;
  border: none;
  font-size: 2em;
  padding: 10px 40px;

  &:disabled {
    color: color.change(#fff, $alpha: 0.5);
    background: color.change($mainColor1, $saturation: 40)
  }
}